<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- Mapperとxmlのマッピング -->
<mapper namespace="com.example.repository.TMMapper">

<!-- マッピング定義（ユーザー） -->
<resultMap type="com.example.model.MUser" id="user">
	<id column="id" property="id"/>
	<result column="role_code" property="roleCode"/>
	<result column="name" property="name"/>
	<result column="password" property="password"/>
	<result column="email" property="email"/>
	<association property="role" resultMap="role"/>
</resultMap>

<!-- マッピング定義（権限） -->
<resultMap type="com.example.model.Role" id="role">
	<id column="code" property="code"/>
	<result column="value" property="value"/>
	
</resultMap>


<!-- 
	private String name;
	private String password;
	private String email;
	private String roleValue; -->

	<!-- ユーザー1件登録 --> 
	<insert id="insertOne">
		INSERT INTO users (
			role_code,
			name,
			password,
			email
		)
		VALUES(
			#{roleCode},
			#{name},
			#{password},
			#{email}
		)
	</insert>
	
	<!-- ログインユーザー取得 --> 
	 <select id="findLoginUser" resultMap="user">
		SELECT * 
		FROM users 
		LEFT JOIN roles
			ON users.role_code = roles.code
		WHERE email = #{email} 
	</select> 
	
	<!-- 体重記録の取得 -->
	<select id="findManyWeightLog" resultType="WeightLog">
	SELECT *
	FROM physical_details
	WHERE user_id = #{userId}
	</select>
	
	<!-- 体重記録一覧取得 -->
	<select id="findWeightLogByUserId" resultType="WeightLog">
	SELECT *
	FROM physical_details
	WHERE user_id = #{userId}
	LIMIT #{pageSize} OFFSET #{offset}		<!-- #{limit} → 何件取得するか、#{offset} → 開始位置-->
	</select>
	
	<!-- 件数取得 -->
	<select id="countWeightLogByUserId" resultType="int">
	SELECT COUNT(*)
	FROM physical_details
	WHERE user_id = #{userId}
	</select>
	
	<!-- 体重記録1件取得 -->
	<select id="findWeightLogOne" resultType="WeightLog">
	SELECT *
	FROM physical_details
	WHERE user_id = #{userId}
		AND created_at = #{createdAt}
	</select>
	
	<!-- 体重記録1件更新 -->
	<update id="updateOne">
	UPDATE physical_details 
	SET
		recorded_date = #{recordedDate}, 
		weight = #{weight}
	WHERE user_id = #{userId}
		AND created_at = #{createdAt}
	</update>
	
</mapper>