<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- Mapperとxmlのマッピング -->
<mapper namespace="com.example.repository.TMMapper">

<!-- マッピング定義（ユーザー） -->
<resultMap type="com.example.model.MUser" id="user">
	<id column="id" property="id"/>
	<result column="role_code" property="roleCode"/>
	<result column="name" property="name"/>
	<result column="password" property="password"/>
	<result column="email" property="email"/>
	<association property="role" resultMap="role"/>
</resultMap>

<!-- マッピング定義（権限） -->
<resultMap type="com.example.model.Role" id="role">
	<id column="code" property="code"/>
	<result column="value" property="value"/>
	
</resultMap>

	<!-- ユーザー1件登録 --> 
	<insert id="insertOne">
		INSERT INTO users (
			role_code,
			name,
			password,
			email
		)
		VALUES(
			#{roleCode},
			#{name},
			#{password},
			#{email}
		)
	</insert>
	
		<!-- 体重記録1件登録 --> 
	<insert id="insertWeightLog">
		INSERT INTO physical_details (
			user_id,
			weight	,
			recorded_date
		)
		VALUES(
			#{userId},
			#{weight},
			#{recodedDate}
		)
	</insert>
	
	<!-- ログインユーザー取得 --> 
	 <select id="findLoginUser" resultMap="user">
		SELECT * 
		FROM users 
		LEFT JOIN roles
			ON users.role_code = roles.code
		WHERE email = #{email} 
	</select> 
	
</mapper>