<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity"
	xmlns:layout="http//www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout-post}">
	
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	<!--CSS読み込み-->
	<link rel="stylesheet" th:href="@{/css/tmapp.css}">
	<title>ユーザー管理</title>
</head>
	
<body>
	<div layout:fragment="content-post">
		<h6 class="text-center font-weight-bold mt-5 mb-5">ユーザー管理</h6>
		
		<!--ユーザー一覧-->
		<div class="list-width">
			<table class="table table-striped table-bordered table-hover">
				<thead class="thead-light">
					<tr>
						<th>Name</th>
						<th>Password</th>
						<th>Email</th>
						<th>Role</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="user : ${userList}">
						<td th:text="${user.name}"></td>
						<td th:text="${user.password}"></td>
						<td th:text="${user.email}"></td>
						<td th:text="${user.role.value}"></td>
					</tr>
				</tbody>
			</table>
			<!-- 戻るボタン -->
			<div  class="btn-width">
				<!--	onclick="location.href='URL'"：ボタンリンクの正しい指定方法はこれ！-->
				<button type="button" onclick="location.href='/home'" th:text="戻る" class="btn btn-outline-danger w-100 mt-3"></button>
			</div>
		</div>	
	</div>
	
	<!-- BootStrap -->
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>