<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity"
	xmlns:layout="http//www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout-post}">
	
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	<!--CSS読み込み-->
	<link rel="stylesheet" th:href="@{/css/tmapp.css}">
	<title>体重閲覧</title>
	<!--fontawesome読み込み-->
	<script src="https://kit.fontawesome.com/c0a7d378b7.js" crossorigin="anonymous"></script>
</head>
	
<body>
	<div layout:fragment="content-post" class="WeightList-width">
		<h6 class="text-center font-weight-bold mt-5 mb-5">体重閲覧</h6>
		
		<!--体重記録の一覧表示-->
		<div>
			<table class="table table-striped table-bordered table-hover text-center align-middle">
				<thead class="thead-light">
					<tr>
						<th>Date</th>
						<th>Weight</th>
						<th>Edit</th>
						<th>Delete</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="item:${weightLogList}">
						<td th:text="${#dates.format(item.recordedDate, 'YYYY/MM/dd')}" class="align-middle"></td>
						<td th:text="${item.weight} + 'kg'" class="align-middle"></td>
						<!--編集ボタン-->
						<td>
							<a class="btn btn-secondary btn-sm align-middle" 
							th:href="@{'/physicals/edit/physical_details.' + ${#dates.format(item.createdAt, 'EEE MMM dd HH:mm:ss zzz yyyy')}}">
								<i class="fa-solid fa-pen"></i>
							</a>
						</td>
						<!--削除ボタン-->
						<td>
							<form method="post" th:action="@{'/physicals/delete/physical_details.' + ${#dates.format(item.createdAt, 'EEE MMM dd HH:mm:ss zzz yyyy')}}">
								<button type="submit" class="btn btn-danger btn-sm align-middle"><i class="fa-solid fa-trash"></i></button>
							</form>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		
		<!--ページネーション-->
		<div class="mt-4">		<!--データがない場合ページネーションを表示させない → th:if="${totalPages > 0}"-->
			<nav aria-label="Page navigation example">
				<ul class="pagination justify-content-center">
					<!--最初のページ-->
					<li th:classappend="${currentPage <= 1} ? 'disabled'" class="page-item">	<!--disabled：クリックできないようにする-->
						<a class="page-link" th:href="@{'/physicals/users.' + ${id}(page=1)}" aria-label="Previous">
							<span aria-hidden="true">&laquo;</span>
							<span class="sr-only">Previous</span>
						</a>
					</li>
					<!--ページ番号をループ表示-->
						<!--th:each="変数 : ${#numbers.sequence(開始値,終了値)}"：タイムリーフのループ処理-->
						<!--三項演算子（条件式 ? 式1 : 式2）-->
					<li th:each="pageNum : ${#numbers.sequence(1, totalPages > 0 ? totalPages : 1)}" th:classappend="${pageNum == currentPage} ? 'active'" class="page-item">
						<a class="page-link" th:href="@{'/physicals/users.' + ${id}(page=${pageNum})}" th:text="${pageNum}"></a>
					</li>
					<!--最後のページ-->
					<li th:classappend="${currentPage == totalPages or totalPages == 0} ? 'disabled'" class="page-item">
						<a class="page-link" th:href="@{'/physicals/users.' + ${id}(page=${totalPages})}" aria-label="Next">
							<span aria-hidden="true">&raquo;</span>
							<span class="sr-only">Next</span>
						</a>
					</li>
				</ul>
			</nav>
		</div>
		
		<!--戻るボタン-->
		<div class="btn-width ">
			<button type="button" onclick="location.href='/home'" th:text="戻る" class="btn btn-outline-danger w-100 mt-3 mb-5"></button>
		</div>
	</div>
	
	<!-- BootStrap -->
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>