<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http//www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout-post}">
	
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

	<!--CSS読み込み-->
	<link rel="stylesheet" th:href="@{/css/tmapp.css}">
		
	<title>体重更新</title>
</head>

<body>
	<div layout:fragment="content-post" class="form-signup">
		<form method="post"  th:object="${weightEditForm}" th:action="@{/update}" >		<!--(userId=*{userId}, createdAt=*{#dates.format(createdAt, 'EEE MMM dd HH:mm:ss zzz yyyy')})-->
			<h6 class="text-center font-weight-bold mt-5">体重更新</h6>
			
			<!--userIdと登録日時-->
			<input type="hidden" th:field="*{userId}"/>
			<input type="hidden" th:field="*{createdAt}"/>
			
			<!--日付-->
			<div class="mt-5 mb-3">
				<label for="recordedDate" th:text="#{recordedDate}"></label>
				<input type="date" min="2020-01-01" max="2050-12-31" 
					 class="form-control" th:field="*{recordedDate}" th:errorclass="is-invalid"/>
				<div class="invalid-feedback" th:errors="*{recordedDate}"></div>
			</div>
			
			<!--体重-->
			<div class="mb-3">	
				<label for="weight" th:text="#{weight}"></label>
				<input type="number" placeholder="00.0" step="0.1" class="form-control" th:field="*{weight}" th:errorclass="is-invalid"/>
				<div class="invalid-feedback" th:errors="*{weight}"></div>
			</div>
			
			<!--更新ボタン-->
			<input type="submit" value="更新" class="btn btn-outline-dark w-100 mt-3">
		</form>
		<!--戻るボタン-->
		<!--	onclick="location.href='URL'"：ボタンリンクの正しい指定方法はこれ！ | location.href=@{/physicals/users.{id}(id=${id})} |-->
		<button type="button" th:onclick="location.href='/home'" th:text="戻る" class="btn btn-outline-danger w-100 mt-3"></button>
	</div>
	
	<!-- BootStrap -->
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>